extends ../shared/template

block content
  h1= title

  for report in reports

    .report-donations
      h2#h4 <i class='fa fa-flag'></i>
        &nbsp;
        span 
          a#donate(href='/reports/' + report._id)= report.name
        br
        br
        span Total: 
        span $
        span= report.amount
        br
        span#donor-pics Donors:

      for donor in report.donors
        .gravatar-img
          .donor-name= donor.donorName
          .email= donor.donorEmail

block scripts
  script(src='/js/vendor/md5.js')
  script(src='/js/vendor/jquery.gravatar.js')
  script(src='/js/source/donate.js')

