extends ../shared/template

block content
  h1= title

  for report in reports

    .report-donations
      h2#h4 <i class='fa fa-flag'></i>
        &nbsp; 
        span= report.name
      h4 Current Donations
        p#p 
          span $
          &nbsp;
          span= report.amount

      h4 Donors 
        for donor in report.donors
          ul
            li#email= donor.donorEmail
            .gravatar-img
            li= donor.donorName

block scripts
  script(src='/js/vendor/md5.js')
  script(src='/js/vendor/jquery.gravatar.js')
  script(src='/js/source/donate.js')

