extends ../shared/template

block content
  h1= title

  for report in reports

    .report-donations
      h2#h4 <i class='fa fa-flag'></i>
        &nbsp;
        span= report.name
      h4 Current Donations
        p.p#amount
          span $
          &nbsp;
          span= report.amount

      h4 Donors

      for donor in report.donors
        .gravatar-img
          p= donor.donorName
          p#email= donor.donorEmail

block scripts
  script(src='/js/vendor/md5.js')
  script(src='/js/vendor/jquery.gravatar.js')
  script(src='/js/source/donate.js')

