extends ../shared/template

block content
  h1= title
  #map

  if currentResident && reports.length > 0
    button.small.radius#search(style='display:none;') View Reports In Your Area

  script.
    var places = [];

  ul#unsorted
    each report in reports
      li
        a(href='/reports/' + report._id)= report.name

        script.
          var place = {};
          place.name = '#{report.name}';
          place.id = '#{report._id}';
          place.address = '#{report.address}';
          place.lat = #{report.coordinates[0]};
          place.lng = #{report.coordinates[1]};
          places.push(place);

  if currentEmployee
    a(href='/reports/admin').button.alert.small.radius Include Private Reports

block scripts
  script(src='/js/source/reports.js')
